<header>
    <nav role="navigation">
        <div id="navTitle">
            <h1>BOOOOOOOOKS!</h1>
        </div>
        <div id="menuToggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="/"><li>Bookshelf</li></a>
                <a href="/new"><li>Search</li></a>
                <a href="#"><li>Other</li></a>
            </ul>
        </div>
    </nav>
</header>